# NÃO subir a pasta de dados
Projeto/data
data/

# NÃO subir ambiente virtual
venv/

# Cache do python
__pycache__/

# Arquivos temporários do VSCode e Python
*.pyc
*.pyo
*.pyd

# Arquivos do sistema
.DS_Store

#arquivos teste
app/main/chamadas_test.py